.wrapper {
  position: relative;
  background-color: rgba(87, 77, 77, 0.705);
  width: 100%;
  height: 100%;
  z-index: 98;
  position: fixed;
  top: 0;

  .loading-description {
    font-size: 60px;
    color: rgb(97, 14, 14);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    text-shadow: 0 0 1px black;
  }

  .loading-item {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    animation-name: rotate360;
    animation-iteration-count: infinite;
    animation-duration: 1s;

    &::before {
      content: '';
      width: 100px;
      height: 20px;
      background-color: rgb(97, 14, 14);
      border-radius: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;
    }

    &::after {
      content: '';
      width: 20px;
      height: 100px;
      background-color: rgb(97, 14, 14);
      border-radius: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;
    }
  }

  .loading-progress-bar {
    position: absolute;
    width: 500px;
    height: 50px;
    background-color: rgb(128, 128, 128);
    border-radius: 25px;
    border: 5px solid rgb(97, 14, 14);
    text-align: center;
    top: 65%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);

    span {
      position: relative;
      font-size: 24px;
      color: rgb(153, 153, 153);
      line-height: 40px;
      z-index: 99;
    }
  }
  .progress-bar{
    position: absolute;
    border-radius:25px;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:rgb(116, 112, 64);
    z-index: 5;
    box-shadow:0 0 5px 1px black;
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .wrapper {
    .loading-description {
      font-size: 40px;
    }
    .loading-progress-bar{
      width: 60%;
    }
  }
  
}